
{{#if isLoggedIn}}
<div class="row px-5">
  {{#each products }}
    <div class="col-sm-6 col-md-4 pb-4">
      <div class="card mb-3">
        <img class="card-img-top" src="{{ imagePath }}" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">{{ title }}</h5>
          <p class="card-text fw-lighter">{{ description }}</p>
          <a href="{{ imagePath }}" class=" btn-link" download style="font-size: smaller; color: grey; text-decoration: underline;">Download</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{/if}}

