  {{#if message }}
        <p class="text-dark mt-3  "> {{ message}}</p>
        {{/if}}
 <div class="bg-black wrapper d-flex align-items-end justify-content-center text-center">

<!--   Gallery Link   -->
    
    {{!-- <div class="d-flex align-items-center justify-content-center text-center h-100">
       
      <a class="btn btn-outline-light btn-lg m-2 bg-dark" href="/gallery" role="button" rel="nofollow" target="_blank">Photo Gallery</a>
    </div> --}}
     

</div>