


<div class="jumbotron d-flex flex-column align-items-center justify-content-start">

  <div class="overlay ">
    <div class="container mt-5 pt-5 vh-50 mb-auto align-items-center ">
      <div class="container w-100 pt-5 justify-content-start align-items-center mb-auto mt-5 my-2">
        <h5 class="display-6 text-white pt-5"><strong>Free Download</strong></h5>
        <p class="text-white">Get high-resolution black and white
          photos for your personal or editorial projects.</p>
     
      <p class="text-white">Photography by Marcela Salvador.</p> 
        <p class="lead text-white">
          <a
            class=" btn btn-sm"
            href="/auth/login"
            role="button"
            style="border: 1px solid white;"
          >Login</a>
          <a
            class="btn btn-sm"
            href="/auth/register"
            role="button"
            style="border: 1px solid white;"
          >Register</a>
        </p>
      </div>
    </div>

  </div>

</div>