<div
  class="
  jumbotron 
  d-flex 
  flex-column 
 justify-content-start
  align-items-start
 

  "

>
<div class="overlay  ">
  <div class="container  w-50 mt-5 pt-5 justify-content-start  ">
    {{!-- <h5 class="display-6 text-white  ">Free Download</h5> --}}
    <p class=" text-white ">Get high resolution photos for free! Simply login or register to start downloading beautiful black and white landscapes of the ecuadorian Andes today.</p>
    <hr class="my-4 text-white" />
    <p class="text-white">Photography by Marcela Salvador.</p>
    <p class="lead text-white">
      <a class="btn  btn-sm" href="/auth/login" role="button" style="border: 1px solid white;">Login</a>
      <a class="btn  btn-sm" href="/auth/register" role="button" style="border: 1px solid white;">Register</a>
    </p>
  </div>
</div>
</div>