    <div class="container-fluid py-3 px-0 " >
    <div class="row mx-0 align-items-center m-3">
        <div class="col-lg-5 col-sm-12 px-md-4 text-center text-lg-left">
            <h1 class="display-3 text-uppercase mb-3 fw-bolder">Los Andes</h1>
            <p class="text-dark mb-3 pr-4 ">Get high-resolution photos of the Ecuadorian Andes mountains for your personal or editorial projects. Photography by Marcela Salvador.</p>
            <a href="/auth/login" class="btn-home btn btn-dark text-uppercase mt-3 py-2 px-5">Download</a>
        </div>
        <div class="col-lg-7 col-sm-12 px-0 pr-3 text-center">
            <img class="mt-5 mt-lg-0 img-fluid" src="https://images.squarespace-cdn.com/content/v1/54ac7b74e4b0e845494f6319/1521405246236-SUTZH87RG9SCVDPBXK3Q/IMG_2158.jpg?format=1500w" alt="Los Andes">
        </div>
    </div>
</div>

