 <div class="bg-black wrapper">
    

  <h1>landing page</h1>  
<!--   Gallery Link   -->
    
    <div class="d-flex align-items-center justify-content-center text-center">
       
      <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button" rel="nofollow" target="_blank">Gallery</a>
    </div>
</div>