html,
body {
  margin: 0;
  height: 100%;
}

.thumbnail img {
  max-height: 150px;
}

.thumbnail .description {
  color: #7f7f7f;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 0.9em;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover {
  /* background-color: black; */
  color: black;
  font-weight: normal;
  text-decoration: underline;
}

.navbar-brand {
  font-size: 2em;
  font-weight: lighter;
}



.btn {
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: rgb(29, 28, 28);
  border-color: grey;
}

.btn:hover {
  background-color: white;
  color: rgb(29, 28, 28);
 
}

.login {

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #000000;
  color: #FFFFFF;
  
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
 
  
}


#small-buttons {
  font-size: small;
}

#small-buttons:hover {
  color: #ffffff;
  transition: all 0.5s;
}

#small-buttons-download {
  font-size: smaller;
  color: grey;
}

.caption {
  color: grey;
}

h3 {
  font-size: large;
  color: black;
}


.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.small-input {
  width: 100%;
}