html, body {
  margin: 0;
  height: 100%;
}

.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

/* .price {
    font-weight: bold;
    font-size: 16px;
} */

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 0.9em;
    transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover {
  /* background-color: black; */
  color: black;
  font-weight: normal;
  text-decoration: underline;
  
  
 
}

.navbar-brand {
  font-size: 2em;
  font-weight: lighter;
}

/* .navbar-toggler {
  border: .4rem solid #ccc;
}

.navbar-toggler-icon {
  border: .4rem solid #ccc;
} */

.wrapper{background: url('https://images.squarespace-cdn.com/content/v1/54ac7b74e4b0e845494f6319/1521405246236-SUTZH87RG9SCVDPBXK3Q/IMG_2158.jpg?format=1500w" class="img-responsive" alt="Responsive image') no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; height: 100vh; }

.auth-buttons{
display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
background: #000000;
color: #ffffff;
border-radius: 8px;
padding: 10px 18px 10px;
font-size: 18px;
font-weight: 500;
line-height: 1;
transition: transform 200ms,background 200ms;
}

.buttons:hover{
    transform: translateY(-2px);
}

#small-buttons {
  font-size:small;
  
}

#small-buttons:hover{
  color:#ffffff;
  transition: all 0.5s;
}

#small-buttons-download {
  
  font-size:smaller;
  color:grey;
}

.caption {
  color: grey;
}

h3 {
  font-size:large;
  color: black
}