<div class="container-fluid py-5 px-0 ">
  <h1 class="display-7 text-center mt-2 p-2">User Registration</h1>
  <div class="row mx-0 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 px-0 d-flex justify-content-center">
      <div class="contact-form bg-white rounded p-3 vw-100">
        <form action="/auth/register" method="POST">
          <div class="form-group">
                <div class="control-group ">
                <input
                  type="name"
                  for="name"
                  class="form-control bg-light border-0 p-4 small-input"
                  id="name"
                  placeholder="Name"
                  required="required"
                  name="name"
                  data-validation-required-message="Please enter your name"
                />
                <p class="help-block text-danger"></p>
              </div>
          </div>
          <div class="form-group">
                <div class="control-group">
                <input
                  type="email"
                  for="email"
                  class="form-control bg-light border-0 p-4 small-input"
                  id="email"
                  placeholder="Email"
                  required="required"
                  name="email"
                  data-validation-required-message="Please enter your email"
                />
                <p class="help-block text-danger"></p>
              </div>
          </div>
          <div class="form-group">
              <div class="control-group">
                <input
                  type="password"
                  for="password"
                  name="password"
                  class="form-control bg-light border-0 p-4 small-input"
                  id="password"
                  placeholder="Password"
                  required="required"
                  data-validation-required-message="Please enter your password"
                />
                <p class="help-block text-danger"></p>
              </div>
          </div>

          <div class="text-center">
            <button
              class="btn btn-primary text-uppercase mt-3 py-2 px-5"
              type="submit"
            >Register</button>
            <div class="d-flex flex-row justify-content-center align-self-center bg-black">
              <a class="text-dark mt-3 text-muted" id="small-buttons" href="/auth/login">Login</a>
            </div>
            {{#if message}}
              <p class="text-dark mt-3">{{message}}</p>
            {{/if}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


  